@use './variables';
@use './mixins';

// GLOBALES

.html {
   font-size: 62.5%;
   font-family: $font-primary;
}


h1 {
   @include titles();
   text-shadow: 2px 2px 2px #000000;
}

h2 {
   font-family: $font-family;
   color: $color-fontprimary;
}
h3 {
   font-family: $font-family;
   color: $color-fontprimary;
}

p {
   font-family: $font-family;
   color: $color-fontprimary;
   font-size: 1.3em;
   
}

// FIN GLOBALES