// MIXINS


@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: $box-sizing;
}

@mixin reset-pm {
    margin: 0;
    padding: 0;
}

@mixin w-h {
    width: 100px;
    height: 100px;
}

@mixin display-text {
    display: flex;
    text-align: center;
}

@mixin titles {
    @include reset-pm;
    width: 100%;
    text-align: center;
    font-family: $font-family;
    color: $color-fontsecundary;
    font-size: size(6);
    font-weight: bold;
    background-color: $bg-color2;

}

@mixin buttom {
    font-size: 0.9em;
    font-weight: $font-weight;
    margin-top: size(1);
    padding: 5px 10px;
    border-radius: 50px;
    border: $border-bottom;
    box-shadow: $box-shadow;
    color: $color-fontsecundary;
    background-color: $bg-color2;

}

@mixin redes {
    line-height: 50px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

// FIN MIXINS