// VARIABLES


$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-secundary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$bg-color: black;
$bg-color2: #BF93AE;
$color-fontprimary: #480006;
$color-fontsecundary: #ffffff;
$border-bottom: 3px solid rgba(0, 0, 0, 0.5);
$border: 2px solid black;
$box-shadow: 2px 1px 10px;
$box-sizing: border-box;
$font-weight: bold;
$limit: 10;
$unit: 8px;
$facebook: #3270f5c3;
$instagram: #941e55;
$twitter: rgb(144, 169, 235);
$linkedin: blue;
$mail:rgb(210, 64, 64);
$telegram: rgba(31, 186, 225, 0.6);


// FIN VARIABLES